.container
  display: flex
  width: 1280px
  max-width: 100%
  margin: 0 auto
  flex-direction: column
.block
  background: #fff
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)

.pd
  padding: 1.8%
.ant-card-head-title:first-letter
  text-transform: capitalize
